:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #dfdfd6;

  background-color: #1b1b1f;

  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}



